// PAGE HEADER AND NAVIGATION
header {
    background-size: cover;
    background-position: center;
    .text-container {
        margin-top: 125px;
        margin-bottom: 125px;
        text-align: center;
    }
    h1 {
        font-size: 4em;
        color: $color-white;
        font-weight: bold;
    }
    p {
        font-size: 2em;
        color: $color-white;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;
        li {
            display: inline-block;
            margin-right: 5px;
            line-height: 50px;
        }
    }
    .flag {
        transition: all 0.5s;
        &:hover {
            opacity: 0.5;
        }
    }
}

nav {
    background-color: rgba($color-primary, 0.8);
    color: $color-white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.parallax-window {
    min-height: auto;
    background: transparent;
}

.fixed-nav {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
    background-color: $color-primary;
}

@media screen and (max-width: $break-large) {
    header {
        .text-container {
            margin-top: 75px;
            margin-bottom: 75px;
        }
        h1 {
            font-size: $h1-medium;
        }
    }
}

@media screen and (max-width: $break-medium) {
    header {
        .text-container {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        h1 {
            font-size: $h1-small;
        }
        p {
            font-size: 1.5em;
        }
    }
}
