// Colour variables
$color-primary: #674172;
$color-secondary: #F7CA18;

$color-text: #000;
$color-white: #fff;
$color-gray: #ccc;

// Border radius variable
$base-border-radius: 3px;

// Font family variable
$base-font-family: "Poppins", Arial, sans-serif !default; 

// Breakpoint variables
$break-large: 991px;
$break-medium: 768px;
$break-small: 480px;

// Font-size variables
$h1-default: 4em;
$h1-medium: 3em;
$h1-small: 2em;
